{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}管理员登录{% endblock %}
{% block page_content %}
    {{ super() }}
<div class="page-header">
         {% if request.cookies.get('adminid') %}<h1>修改密码</h1>
         {% else %}<h1>登陆</h1>
         {% endif %}
</div>

<div class="col-md-4">


{{ wtf.quick_form(form) }}

</div>
{% endblock %}
