{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}用户管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>用户管理:</h3></div>
    {% if exhibit=='adduser' %}
    {{ wtf.quick_form(form1) }}
    {% endif %}
    {% if exhibit=='edituser' %}
    {{ wtf.quick_form(form2) }}
    {% endif %}

    {% if exhibit=='users' %}
        <table class="table">
                  <caption>用户列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='adduser') }}">添加用户+</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>头像</th>
                      <th>昵称</th>
                      <th>性别</th>
                      <th>邮箱</th>
                      <th>手机号</th>
                      <th>utype</th>
                      <th>status</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for uuser in users %}
                        <tr>
                            <th>{{  uuser['avatar'] }}</th>
                            <th>{{  uuser['nick'] }}</th>
                            <th>{% if uuser['gender']==0 %}男{% else %}女{% endif %}</th>
                            <th>{{  uuser['email'] }}</th>
                            <th>{{ uuser['phone'] }}</th>
                            <th>{% if uuser['utype'] == 0 %}学生{% elif uuser['utype'] == 1 %}老师{% endif %}  </th>
                            <th>{% if uuser['status'] == 0 %}正常{% elif uuser['status'] == 1 %}封禁{% endif %}  </th>
                            <td>

                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.admin',exhibit='edituser',editid=uuser['id']) }}">编辑</a>
{#                              <a type="button" class="btn btn-danger  btn-xs right"   href="{{ url_for('.admin',exhibit='users',deleteid=uuser['id'])}}">删除</a>#}
                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#user{{ uuser['id'] }}">删除</button>
                              <div class="modal fade" id="user{{uuser['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该用户,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.admin',exhibit='users',deleteid=uuser['id'])}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
    {% endif %}

{% endblock %}
