{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}文章管理{% endblock %}







{#            <ul class="nav  nav-stacked navbar-left navbar-brand ">#}
{#                <li><a href="{{ url_for('main.courses',exhibit='course') }}" class="list-group-item ">课程列表</a></li>#}
{#                <li><a href="{{ url_for('main.courses',exhibit='column') }}" class="list-group-item ">课类列表</a></li>#}
{##}
{#            </ul>#}



{% block page_content %}
<div class="page-header"><h3><span class="glyphicon glyphicon-book"></span>文章管理:</h3></div>



    {% if exhibit=='article'%}

        <table class="table">
              <caption>课程列表</caption>
              <thead>
                <tr>

                  <th>课程名</th>
                  <th>icon</th>
                  <th>banner</th>
                  <th>浏览量</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccourse in courses %}
                <tr>
                  <td><a href="{{ url_for('main.courses',exhibit='courses',column=column,section=section,course=ccourse[1]) }}">{{ ccourse[0] }}</a></td>
                  <td>暂无</td>
                  <td>暂无</td>
                  <td>{{ ccourse[4] }}</td>
                  <td>
                  <a type="button" class="btn btn-info right" href="{{ url_for('main.courses',exhibit='courses',column=column,section=section,course=ccourse[1]) }}">查看</a>
                  <a type="button" class="btn btn-default  right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,section=section,course=ccourse[1],edit=ccourse[:-1]) }}">修改</a>
                  <a type="button" class="btn btn-danger  right"   href="{{ url_for('main.courses',exhibit='column',column=column,section=section,delete=ccourse) }}">删除</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>


    {% endif %}

    {% if exhibit=='addart_program' %}
    <h3>添加栏目:</h3>
        {{ wtf.quick_form(form) }}
    {% endif %}
    {% if exhibit=='addart_section' %}
    <h3>添加章节:</h3>
        {{ wtf.quick_form(form2) }}
    {% endif %}
    {% if exhibit=='addart_content' %}
    <h3>添加微内容:</h3>
        {{ wtf.quick_form(form8) }}
    {% endif %}
    {% if exhibit=='editart_program' %}
    <h3>修改栏目:</h3>
        {{ wtf.quick_form(form5) }}
    {% endif %}
    {% if exhibit=='editart_section' %}
    <h3>修改章节:</h3>
        {{ wtf.quick_form(form6) }}
    {% endif %}
    {% if exhibit=='editart_content' %}
    <h3>修改微内容:</h3>
        {{ wtf.quick_form(form9) }}
    {% endif %}
    {% if exhibit=='articles' or exhibit=='program' %}







        <ol class="breadcrumb ">
            <li><a href="{{ url_for('main.articles',exhibit='program',program=-1)}}">Home</a></li>
            {% if program !=-1 %}<li><a href="{{ url_for('main.articles',exhibit='program',program=program)}}">{% for i in programs %}{% if i[1]==program %}{{ i[0] }}{% endif %}{% endfor %}</a></li>
            {% if section !=-1 %}<li><a href="{{ url_for('main.articles',exhibit='program',program=program,section=section)}}">{% for i in sections %}{% if i[1]==section %}{{ i[0] }}{% endif %}{% endfor %}</a></li>
            {% if content !=-1 %}<li>{% for i in contents %}{% if i[1]==content %}{{ i[0] }}{% endif %}{% endfor %}</li>
            {% endif %}
            {% endif %}
            {% endif %}


        </ol>
        {% if exhibit=='articles'%}
        <div class="container">
        {% for i in contents %}{% if i[1]==content %}{{ i[3] }}{% endif %}{% endfor %}

        </div>
        {% endif %}


    {% if exhibit=='program' %}
        {% if program==-1 %}

            <table class="table">
              <caption>栏目列表
                <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='addart_program') }}">添加栏目+</a>
              </caption>
              <thead>
                <tr>
                  <th>栏目名</th>
                  <th>icon</th>
                  <th>banner</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for pprogram in programs  %}
                <tr>
                  <td><a   href="{{ url_for('main.articles',exhibit='program',program=pprogram[1]) }}">{{ pprogram[0] }}</a></td>
                  <td>{% if pprogram[3]=='none' or pprogram[3]=='icccon' %}暂无{% else %}<img src="{{ pprogram[3] }}" height="32" width="32" >{% endif %}</td>
                  <td>{% if pprogram[4]=='none' or pprogram[4]=='icccon' %}暂无{% else %}<img src="{{ pprogram[4] }}" height="32" width="32" >{% endif %}</td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='program',program=pprogram[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning  btn-sm right"  href="{{ url_for('main.articles',exhibit='editart_program',program=pprogram[1],edit=pprogram) }}">修改</a>

                      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#program{{ pprogram[1] }}">删除</button>
                      <div class="modal fade" id="program{{ pprogram[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除该栏目以及该课类下的所有章节和所有微内容,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                         <a type="button" class="btn btn-primary  right"  href="{{ url_for('main.articles',exhibit='program',program=-1,delete=pprogram) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

{#        <div class="span2">#}
{##}
{#        <ol class="nav nav-pills nav-stacked navbar-left list-group-item">#}
{##}
{#        <form method="POST">#}
{#                {{ form3.hidden_tag() }}#}
{#                {{ form3.button(class="btn btn-info btn-block") }}#}
{##}
{#        </form>#}
{##}
{#        {% for ccolumn in columns  %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"  href="{{ url_for('main.courses',exhibit='column',column=-1,delete=ccolumn) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"  href="{{ url_for('main.courses',exhibit='editclass',column=ccolumn[1],edit=ccolumn) }}">修改</a>#}
{#            <li {% if column==ccolumn[1] %} class="active"{% endif %}><a   href="{{ url_for('main.courses',exhibit='column',column=ccolumn[1]) }}">{{ ccolumn[0] }}</a></li>#}
{##}
{#        {% endfor %}#}
{#        </ol>#}
{#        </div>#}
        {% endif %}

        {% if program !=-1 and section==-1%}
            <table class="table">
              <caption>章节列表
                    <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='addart_section',program=program) }}">添加章节+</a>
              </caption>
              <thead>
                <tr>

                  <th>章节名</th>
                  <th>icon</th>
                  <th>banner</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ssection in sections %}
                <tr>
                  <td><a href="{{ url_for('main.articles',exhibit='program',program=program,section=ssection[1]) }}">{{ ssection[0] }}</a></td>
                  <td>{% if ssection[3]=='none' or ssection[3]=='icccon' %}暂无{% else %}<img src="{{ ssection[3] }}" height="32" width="32" >{% endif %}</td>
                  <td>{% if ssection[4]=='none' or ssection[4]=='bannerrr' %}暂无{% else %}<img src="{{ ssection[4] }}" height="32" width="32" >{% endif %}</td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.articles',exhibit='program',program=program,section=ssection[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning  btn-sm right"  href="{{ url_for('main.articles',exhibit='editart_section',program=program,section=ssection[1],edit=ssection) }}">修改</a>

                      <button class="btn btn-danger btn-sm " data-toggle="modal" data-target="#section{{ ssection[1] }}">删除</button>
                      <div class="modal fade" id="section{{ ssection[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除所选章节以及该章节所有微内容,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <a type="button" class="btn btn-primary  right"  href="{{ url_for('main.articles',exhibit='program',program=program,section=-1,delete=ssection) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{#         <div class="span2">#}
{#        <ol class="nav nav-pills nav-stacked navbar-left list-group-item">#}
{#        <form method="POST">#}
{#                {{ form4.hidden_tag() }}#}
{#                {{ form4.button2(class="btn btn-info btn-block") }}#}
{##}
{#        </form>#}
{##}
{##}
{#        {% for cchapter in chapters %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=-1,delete=cchapter) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"   href="{{ url_for('main.courses',exhibit='editchapter',column=column,chapter=cchapter[1],edit=cchapter) }}">修改</a>#}
{#            <li {% if chapter==cchapter[1] %} class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='column',column=column,chapter=cchapter[1]) }}">{{ cchapter[0] }}</a></li>#}
{##}
{#        {% endfor %}#}
{#        {% endif %}#}
{#        </ol>#}
{#        </div>#}
        {% endif %}

        {% if section !=-1 and content==-1%}
            <table class="table">
              <caption>微内容列表
                  <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='addart_content',program=program,section=section) }}">添加微内容+</a>
              </caption>
              <thead>
                <tr>

                  <th>微内容名</th>

                  <th>链接</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccontent in contents %}

                <tr>
                  <td><a href="{{ url_for('main.articles',exhibit='articles',program=program,section=section,content=ccontent[1]) }}">{{ ccontent[0] }}</a></td>

                  <td><a href="{{ ccontent[4] }}" target="_blank">{{ ccontent[4] }}</a></td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm right" href="{{ url_for('main.articles',exhibit='articles',program=program,section=section,content=ccontent[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.articles',exhibit='editart_content',program=program,section=section,content=ccontent[1],edit=ccontent[:-1]) }}">修改</a>

                      <button class="btn btn-danger btn-sm  " data-toggle="modal" data-target="#content{{ ccontent[1] }}">删除</button>
                      <div class="modal fade" id="content{{ccontent[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除该微内容,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <a type="button" class="btn btn-primary  right"   href="{{ url_for('main.articles',exhibit='program',program=program,section=section,delete=ccontent) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{#        <div class="span2">#}
{#        <ol class="  nav nav-pills nav-stacked navbar-left list-group-item">#}

{##}
{#        {% for ccourse in courses %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=chapter,delete=ccourse) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,chapter=chapter,course=ccourse[1],edit=ccourse[:-1]) }}">修改</a>#}
{#            <li><a href="{{ url_for('main.courses',exhibit='courses',column=column,chapter=chapter,course=ccourse[1]) }}">{{ ccourse[0] }}</a></li>#}
{##}
{#        {% endfor %}#}

{#        </ol>#}
{#        </div>#}

        {% endif %}
    {% endif %}
    {% endif %}



{% endblock %}