{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default  " role="navigation">


<div class="container-fluid">


<div class="navbar-header"><img src="../static/icons/qwxt3.png" width="100" height="50"></div>

<div class="navbar-header"><a class="nav navbar-brand " href="#">管理平台</a></div>

         {% if  request.cookies.get('adminid')  %}
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        账户 <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.editpassword') }}">
                             修改密码
                            </a></li>

                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>

                </li>

            </ul>
         {% endif %}
     <ul class="nav navbar-nav navbar-right">
    {% if request.cookies.get('adminid') %}
    <li><a >你好,管理员</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.adminlogin') }}">管理员登录</a></li>
    {% endif %}
    </ul>



         </div>

    </nav>
{#</div>#}


{% endblock %}





{% block content %}



<div class="container-fluid " >
    <div class="col-md-12">
<span class="row">
<span class="col-md-1 ">
            <ul class="nav nav-pills nav-stacked " >

                <li><p class="text-muted"><span class="glyphicon glyphicon-th-large"></span> 功能</p></li>
                <li><a href="#"><h6>课程发布</h6></a></li>
                <li><a href="#"><h6>文章发布</h6></a></li>
                <li  {% if 'comments' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.comments',exhibit='show_comments') }}"><h6>评论管理</h6></a></li>
                <li><a href="#"><h6>客服消息</h6></a></li>
                <li><p class="text-muted"><span class="glyphicon glyphicon-inbox"></span> 管理</p></li>
                <li {% if 'admin' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.admin',exhibit='users') }}"><h6>用户管理</h6></a></li>
                <li {% if request.args.get('column') %}class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='column',column=-1) }}"><h6>课程管理</h6></a></li>
                <li {% if request.args.get('program') %}class="active"{% endif %}><a href="{{ url_for('main.articles',exhibit='program',program=-1) }}"><h6>文章管理</h6></a></li>
                <li {% if request.args.get('media') %}class="active"{% endif %}><a href="{{ url_for('main.media',exhibit='media',media=-1) }}"><h6>媒体管理</h6></a></li>
                <li  {% if 'tags' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.tags',exhibit='show_tags') }}"><h6>标签管理</h6></a></li>
                <li  {% if 'consumers' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.consumers',exhibit='show_consumers') }}"><h6>授权管理</h6></a></li>
                <li><p class="text-muted"><span class="glyphicon glyphicon-time"></span> 统计</p></li>
                <li ><a href="#"><h6>用户分析</h6></a></li>
                <li><a href="#"><h6>课程分析</h6></a></li>
                <li><a href="#"><h6>文章分析</h6></a></li>
                <li><a href="#"><h6>评论分析</h6></a></li>
                <li><a href="#"><h6>菜单分析</h6></a></li>
                <li><p class="text-muted"><span class="glyphicon glyphicon-cog"></span> 设置</p></li>
                <li><a href="#"><h6>网站设置</h6></a></li>
                <li><a href="#"><h6>账号设置</h6></a></li>
                <li><a href="#"><h6>操作记录</h6></a></li>
                <li><a href="#"><h6>数据导出</h6></a></li>


            </ul>

    </span>
    <span class="col-md-10  ">
    <div class="container-fluid">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{ message }}
        </div>
        {% endfor %}




    {% block page_content %}{% endblock %}
</div>
    </span>
</span>
</div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>
{% endblock %}

