{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}客户管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-star"></span>客户管理:</h3></div>
    {% if exhibit=='addconsumer' %}
    {{ wtf.quick_form(form1) }}
    {% endif %}
    {% if exhibit=='editconsumer' %}
    {{ wtf.quick_form(form2) }}
    {% endif %}

    {% if exhibit=='show_consumers' %}
        <table class="table">
                  <caption>客户列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.consumers',exhibit='addconsumer', page=page) }}">添加+</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>客户名</th>

                      <th>审核状态</th>


                    </tr>
                  </thead>
                    <tbody>
                    {% for cconsumer in consumers %}
                        <tr>
                            <th>{{  cconsumer['name'] }}</th>

                            <th>{% if cconsumer['status']==0 %}未启用{% elif cconsumer['status']==1 %}已启用{% elif cconsumer['status']==2 %}已禁用{% endif %}</th>



                            <td>

                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.consumers',exhibit='editconsumer',editid=cconsumer['id'], page=page) }}">编辑</a>

                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#consumer{{ cconsumer['id'] }}">删除</button>
                              <div class="modal fade" id="consumer{{cconsumer['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该评论,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.consumers',exhibit='show_consumers',deleteid=cconsumer['id'],page=page)}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
        {% if consumersresp.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(consumersresp.json()['all'] - 1)//25) %}
{#                    {%if p%}#}
{#                        {% if p == pagination.page %}#}
{#                        <li class="active">#}
{#                             <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>#}
{#                        </li>#}
{#                        {% else %}#}
{#                        <li>#}
{#                             <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>#}
{#                        </li>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                    <li class="disabled"><a href="#">&hellip;</a></li>#}
{#                    {% endif %}#}
                <li {% if page==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.consumers', exhibit='show_consumers', page=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}
