{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}课程管理{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}



{#            <ul class="nav  nav-stacked navbar-left navbar-brand ">#}
{#                <li><a href="{{ url_for('main.courses',exhibit='course') }}" class="list-group-item ">课程列表</a></li>#}
{#                <li><a href="{{ url_for('main.courses',exhibit='column') }}" class="list-group-item ">课类列表</a></li>#}
{##}
{#            </ul>#}



{% block page_content %}
<div class="page-header"><h3><span class="glyphicon glyphicon-list-alt"></span>课程管理:</h3></div>
     <nav class="navbar navbar-default  " role="navigation">


         <div class="container-fluid">

                     <ul class="nav navbar-nav ">
                     <li {% if exhibit=='addlesson' %}class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='addlesson',column=column,chapter=chapter) }}">录入课程</a></li>
                 </ul>
             <ul class="nav navbar-nav">
                     <li {% if exhibit=='course' %}class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='course') }}">课程库</a></li>
                 </ul>
             <ul class="nav navbar-nav">
                     <li {% if exhibit=='addclass' %}class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='addclass',column=-1) }}">新建门类</a></li>
                 </ul>
             <ul class="nav navbar-nav">
                     <li {% if exhibit=='courses' or exhibit=='column' %}class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='column',column=-1) }}">门类列表</a></li>
                 </ul>
             <ul class="nav navbar-nav">
                     <li><a href="/">随堂练习</a></li>
                 </ul>

             </div>
    </nav>

    {% if exhibit=='course'%}

        <table class="table table-condensed">
              <caption>课程列表(共{{ courses|count }}节)</caption>
              <thead>
                <tr>

                  <th>预览图</th>
                  <th>课程名</th>
                  <th>录入日期</th>
                  <th>浏览量</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccourse in courses %}
                <tr>
                  <td>{{ ccourse[6] }}</td>
                  <td>{{ ccourse[0] }}<h5><small>{{ ccourse[3][:54] }}</small></h5></td>
                  <td>{{ ccourse[5][:10] }}</td>
                  <td>{{ ccourse[4] }}</td>
                  <td>

                  <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,chapter=chapter,course=ccourse[1],edit=ccourse[:3]) }}">编辑</a>
                  <a type="button" class="btn btn-danger  btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=chapter,delete=ccourse) }}">删除</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>


    {% endif %}

    {% if exhibit=='addclass' %}
    <form method="POST">
            {{ form.hidden_tag() }}
            <div class="col-md-12">


                <div class="row2">
                    {{ form.text(class="form-control",placeholder="课程门类标题") }}

                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default" >
                            <div id='mypanel' class="panel-body" >
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div align="center">
                                    <a type="button" class="btn btn-info btn-sm align-center"  >课程宣传片+</a>
                                </div>

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div id='mypanel' class="panel-body">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                 <div align="center">
                                    <a type="button" class="btn btn-info btn-sm align-center"  >课程门类封面+</a>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row2">
                    {{ form.ckdemo(class='ckeditor') }}
                <script type="text/javascript">
                    CKEDITOR.replace("ckdemo", {
                        filebrowserUploadUrl: '/ckupload/',
                        filebrowserImageUploadUrl: '/ckupload/'
                    });
                </script>
                </div>
                <br>
                <div class="row2">


                       {{ form.classtag(class='form-control',placeholder="课类标签") }}
                        <br>
                        {{ form.classdesc(class='form-control',placeholder="摘要(选填,如果不填则默认抓取正文前54个字)") }}
                </div>
                <br>
                <div class="row2">

                      {{ form.submit(class='submit') }}
                </div>
            </div>


        </form>
    {% endif %}
    {% if exhibit=='addchapter' %}
    <h3>添加章节:</h3>
        {{ wtf.quick_form(form2) }}
    {% endif %}
    {% if exhibit=='addlesson' %}

        <form method="POST">
            {{ form8.hidden_tag() }}
            <div class="col-md-12">
                <div class="row2">
                    <div class="well">说明:课程视频请从媒体库中选择,默认为流畅……</div>


                </div>
                <br>
                <div class="row2">
                    {{ form8.text3(class="form-control",placeholder="课程标题") }}

                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div id='mypanel' class="panel-body">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div align="center">
                                    <button data-toggle="modal" data-target="#video" type="button" class="btn btn-info btn-sm align-center"  >课程视频+</button>

                                    <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        选择视频
                                                    </h4>
                                                </div>
                                                <div class="modal-body" style="max-height: 400px;overflow: auto;">
                                                    <table class="table">

                                                                      <thead>
                                                                        <tr>
                                                                          <th>缩略图</th>
                                                                          <th>标题/时长</th>
                                                                          <th>上传者</th>
                                                                          <th>视频状态</th>
                                                                          <th>时间/大小</th>
                                                                        </tr>
                                                                      </thead>
                                                                        <tbody>
                                                                        {% for vvideo in videos %}
                                                                            <tr>
                                                                                <th>none</th>
                                                                                <th><h5>{{ vvideo['name'] }}</h5><h5><small>{{ vvideo['length']//3600 }}时{{ (vvideo['length']%3600)//60 }}分{{ (vvideo['length']%3600)%60 }}秒</small></h5></th>
                                                                                <th>nobody</th>
                                                                                <th>none</th>
                                                                                <th>{{ vvideo['created_at'] }}<h5><small>{{ vvideo['filesize']/(1024*1024) }}MB</small></h5></th>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                    </button>
                                                     <a type="button" class="btn btn-primary  right" >
                                                        确定
                                                    </a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>

                                </div>

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div id='mypanel' class="panel-body">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                 <div align="center">
                                    <a type="button" class="btn btn-info btn-sm align-center"  >课程封面+</a>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row2">
                    {{ form8.ckdemo(class='ckeditor') }}
                <script type="text/javascript">
                    CKEDITOR.replace("ckdemo", {
                        filebrowserUploadUrl: '/ckupload/',
                        filebrowserImageUploadUrl: '/ckupload/'
                    });
                </script>
                </div>
                <br>
                <div class="row2">
                        {{ form8.belongchapter.label }}{{ form8.belongchapter(class='form-control') }}
                        <br>
                       {{ form8.lessontag(class='form-control',placeholder="课程标签") }}
                        <br>
                        {{ form8.lessondesc(class='form-control',placeholder="摘要(选填,如果不填则默认抓取正文前54个字)") }}
                </div>
                <br>
                <div class="row2">

                      {{ form8.submit3(class='submit') }}
                </div>
            </div>


        </form>
    {% endif %}
    {% if exhibit=='editclass' %}
    <h3>修改课类:</h3>
        {{ wtf.quick_form(form5) }}
    {% endif %}
    {% if exhibit=='editchapter' %}
    <h3>修改章节:</h3>
        {{ wtf.quick_form(form6) }}
    {% endif %}
    {% if exhibit=='editlesson' %}
    <form method="POST">
            {{ form9.hidden_tag() }}
            <div class="col-md-12">
                <div class="row2">
                    <div class="well">说明:课程视频请从媒体库中选择,默认为流畅……</div>


                </div>
                <br>
                <div class="row2">
                    {{ form9.text3edit(class="form-control",placeholder="课程标题") }}

                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div id='mypanel' class="panel-body">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div align="center">
                                    <button data-toggle="modal" data-target="#video" type="button" class="btn btn-info btn-sm align-center"  >课程视频+</button>

                                    <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        选择视频
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    所有视频的列表
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                    </button>
                                                     <a type="button" class="btn btn-primary  right" >
                                                        确定
                                                    </a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>

                                </div>

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div id='mypanel' class="panel-body">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                 <div align="center">
                                    <a type="button" class="btn btn-info btn-sm align-center"  >课程封面+</a>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row2">
                    {{ form9.ckdemoedit(class='ckeditor') }}
                <script type="text/javascript">
                    CKEDITOR.replace("ckdemoedit", {
                        filebrowserUploadUrl: '/ckupload/',
                        filebrowserImageUploadUrl: '/ckupload/'
                    });
                </script>
                </div>
                <br>
                <div class="row2">
                        {{ form9.belongchapteredit.label }}{{ form9.belongchapteredit(class='form-control') }}
                        <br>
                       {{ form9.lessontagedit(class='form-control',placeholder="课程标签") }}
                        <br>
                        {{ form9.lessondescedit(class='form-control',placeholder="摘要(选填,如果不填则默认抓取正文前54个字)") }}
                </div>
                <br>
                <div class="row2">

                      {{ form9.submit3edit(class='submit') }}
                </div>
            </div>


        </form>
    {% endif %}
    {% if exhibit=='courses' or exhibit=='column' %}







        <ol class="breadcrumb ">
            <li><a href="{{ url_for('main.courses',exhibit='column',column=-1)}}">Home</a></li>
            {% if column !=-1 %}<li><a href="{{ url_for('main.courses',exhibit='column',column=column)}}">{% for i in columns %}{% if i[1]==column %}{{ i[0] }}{% endif %}{% endfor %}</a></li>
            {% if chapter !=-1 %}<li><a href="{{ url_for('main.courses',exhibit='column',column=column,chapter=chapter)}}">{% for i in chapters %}{% if i[1]==chapter %}{{ i[0] }}{% endif %}{% endfor %}</a></li>
            {% if course !=-1 %}<li>{% for i in courses %}{% if i[1]==course %}{{ i[0] }}{% endif %}{% endfor %}</li>
            {% endif %}
            {% endif %}
            {% endif %}


        </ol>
        {% if exhibit=='courses'%}
        <div class="container">
        {% for i in courses %}{% if i[1]==course %}{{ i[3] }}{% endif %}{% endfor %}

        </div>
        {% endif %}


    {% if exhibit=='column' %}
        {% if column==-1 %}

            <table class="table">
              <caption>课类列表(共{{ columns|count }}门)
                <form method="POST">
                    {{ form3.hidden_tag() }}
                    {{ form3.button(class="btn btn-info btn-sm") }}

                </form>
              </caption>
              <thead>
                <tr>
                  <th>课程名</th>
                  <th>icon</th>
                  <th>banner</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccolumn in columns  %}
                <tr>
                  <td><a   href="{{ url_for('main.courses',exhibit='column',column=ccolumn[1]) }}">{{ ccolumn[0] }}</a></td>
                  <td>{% if ccolumn[3]=='none' or ccolumn[3]=='icccon' %}暂无{% else %}<img src="{{ ccolumn[3] }}" height="32" width="32" >{% endif %}</td>
                  <td>{% if ccolumn[4]=='none' or ccolumn[4]=='icccon' %}暂无{% else %}<img src="{{ ccolumn[4] }}" height="32" width="32" >{% endif %}</td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.courses',exhibit='column',column=ccolumn[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning  btn-sm right"  href="{{ url_for('main.courses',exhibit='editclass',column=ccolumn[1],edit=ccolumn) }}">修改</a>

                      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#column{{ ccolumn[1] }}">删除</button>
                      <div class="modal fade" id="column{{ ccolumn[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除该课类以及该课类下的所有章节和所有课程,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                         <a type="button" class="btn btn-danger  right"  href="{{ url_for('main.courses',exhibit='column',column=-1,delete=ccolumn) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

{#        <div class="span2">#}
{##}
{#        <ol class="nav nav-pills nav-stacked navbar-left list-group-item">#}
{##}
{#        <form method="POST">#}
{#                {{ form3.hidden_tag() }}#}
{#                {{ form3.button(class="btn btn-info btn-block") }}#}
{##}
{#        </form>#}
{##}
{#        {% for ccolumn in columns  %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"  href="{{ url_for('main.courses',exhibit='column',column=-1,delete=ccolumn) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"  href="{{ url_for('main.courses',exhibit='editclass',column=ccolumn[1],edit=ccolumn) }}">修改</a>#}
{#            <li {% if column==ccolumn[1] %} class="active"{% endif %}><a   href="{{ url_for('main.courses',exhibit='column',column=ccolumn[1]) }}">{{ ccolumn[0] }}</a></li>#}
{##}
{#        {% endfor %}#}
{#        </ol>#}
{#        </div>#}
        {% endif %}

        {% if column !=-1 and chapter==-1%}
            <table class="table table-condensed">
              <caption>章节列表(共{{ chapters|count }}章)
                    <form method="POST">
                        {{ form4.hidden_tag() }}
                        {{ form4.button2(class="btn btn-info btn-sm") }}

                    </form>
              </caption>
              <thead>
                <tr>

                  <th>章节名</th>
                  <th>icon</th>
                  <th>banner</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for cchapter in chapters %}
                <tr>
                  <td><a href="{{ url_for('main.courses',exhibit='column',column=column,chapter=cchapter[1]) }}">{{ cchapter[0] }}</a></td>
                  <td>{% if cchapter[3]=='none' or cchapter[3]=='icccon' %}暂无{% else %}<img src="{{ cchapter[3] }}" height="32" width="32" >{% endif %}</td>
                  <td>{% if cchapter[4]=='none' or cchapter[4]=='icccon' %}暂无{% else %}<img src="{{ cchapter[4] }}" height="32" width="32" >{% endif %}</td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.courses',exhibit='column',column=column,chapter=cchapter[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning  btn-sm right"  href="{{ url_for('main.courses',exhibit='editchapter',column=column,chapter=cchapter[1],edit=cchapter) }}">修改</a>

                      <button class="btn btn-danger btn-sm " data-toggle="modal" data-target="#chapter{{ cchapter[1] }}">删除</button>
                      <div class="modal fade" id="chapter{{ cchapter[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除所选章节以及该章节所有课程,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <a type="button" class="btn btn-primary  right"  href="{{ url_for('main.courses',exhibit='column',column=column,chapter=-1,delete=cchapter) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{#         <div class="span2">#}
{#        <ol class="nav nav-pills nav-stacked navbar-left list-group-item">#}
{#        <form method="POST">#}
{#                {{ form4.hidden_tag() }}#}
{#                {{ form4.button2(class="btn btn-info btn-block") }}#}
{##}
{#        </form>#}
{##}
{##}
{#        {% for cchapter in chapters %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=-1,delete=cchapter) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"   href="{{ url_for('main.courses',exhibit='editchapter',column=column,chapter=cchapter[1],edit=cchapter) }}">修改</a>#}
{#            <li {% if chapter==cchapter[1] %} class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='column',column=column,chapter=cchapter[1]) }}">{{ cchapter[0] }}</a></li>#}
{##}
{#        {% endfor %}#}
{#        {% endif %}#}
{#        </ol>#}
{#        </div>#}
        {% endif %}

        {% if chapter !=-1 and course==-1%}
            <table class="table table-condensed">
              <caption>课程列表(共{{ courses|count }}节)
                  <form method="POST">
                    {{ form7.hidden_tag() }}
                    {{ form7.button3(class="btn btn-info btn-sm") }}

                  </form>
              </caption>
              <thead>
                <tr>

                  <th>课程名</th>
                  <th>icon</th>
                  <th>banner</th>
                  <th>浏览量</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccourse in courses %}

                <tr>
                  <td><a href="{{ url_for('main.courses',exhibit='courses',column=column,chapter=chapter,course=ccourse[1]) }}">{{ ccourse[0] }}</a></td>
                  <td>暂无</td>
                  <td>暂无</td>
                  <td>{{ ccourse[4] }}</td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm right" href="{{ url_for('main.courses',exhibit='courses',column=column,chapter=chapter,course=ccourse[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,chapter=chapter,course=ccourse[1],edit=ccourse[:-1]) }}">修改</a>

                      <button class="btn btn-danger btn-sm  " data-toggle="modal" data-target="#lesson{{ ccourse[1] }}">删除</button>
                      <div class="modal fade" id="lesson{{ccourse[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除该课程,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <a type="button" class="btn btn-primary  right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=chapter,delete=ccourse) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{#        <div class="span2">#}
{#        <ol class="  nav nav-pills nav-stacked navbar-left list-group-item">#}

{##}
{#        {% for ccourse in courses %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=chapter,delete=ccourse) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,chapter=chapter,course=ccourse[1],edit=ccourse[:-1]) }}">修改</a>#}
{#            <li><a href="{{ url_for('main.courses',exhibit='courses',column=column,chapter=chapter,course=ccourse[1]) }}">{{ ccourse[0] }}</a></li>#}
{##}
{#        {% endfor %}#}

{#        </ol>#}
{#        </div>#}

        {% endif %}
    {% endif %}
    {% endif %}




{% endblock %}

