{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}仟问学堂{% endblock %}
{% block content %}
{{ super() }}

{#<div id="id_video_container_14651978969434149334" style="width:100%;height:360px;"></div><script src="https://qzonestyle.gtimg.cn/open/qcloud/video/h5/h5connect.js" charset="utf-8"></script>#}
{# <script type="text/javascript">#}
{#            (function(){#}
{#               var option ={"auto_play":"0","file_id":"14651978969434149334","app_id":"1252877008","width":640,"height":360,"https":1};#}
{#               /*调用播放器进行播放*/#}
{#               new qcVideo.Player(#}
{#                       /*代码中的id_video_container将会作为播放器放置的容器使用,可自行替换*/#}
{#                       "id_video_container_14651978969434149334",#}
{#                       option#}
{#                   );#}
{#             })()#}
{# </script>#}

{#<script src='//player.polyv.net/script/polyvplayer.min.js'></script>#}
{#<div id='plv_489fab64740411183aa599451a85fc40_4'></div>#}
{#<script>#}
{#var player = polyvObject('#plv_489fab64740411183aa599451a85fc40_4').videoPlayer({#}
{#    'width':'600',#}
{#  'height':'338',#}
{#    'vid' : '489fab64740411183aa599451a85fc40_4'});#}
{##}
{#</script>#}


{#<embed src="http://player.polyv.net/videos/player.swf?vid=489fab64740411183aa599451a85fc40_4" width="1000" height="200" autostart="true">#}
{##}
{#</embed>#}


{#<embed src="http://v.leleketang.com/dat/hs/ch/k/video/25931.mp4" width="300" height="200" autostart="true">#}
{##}
{#</embed>#}

{#<script src='//player.polyv.net/script/polyvplayer.min.js'></script>#}
{#<div id='plv_489fab6474d614769ab2ff6aff9ce06d_4'></div>#}
{#<script>#}
{#var player = polyvObject('#plv_489fab6474d614769ab2ff6aff9ce06d_4').videoPlayer({#}
{#    'width':'600',#}
{#  'height':'338',#}
{#    'vid' : '489fab6474d614769ab2ff6aff9ce06d_4'#}
{#});#}
{#</script>#}



{#<img src="{{ url_for('static', filename='universe.jpg') }}" width="1440" height="900" align="top" />#}

{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
