{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
    function update_show() {
        var title = document.getElementById("title").value; //获取title的值
        var tag = document.getElementById("tag").value; //获取tag的值
        var desc = document.getElementById("desc").value; //获取desc的值
        var JSONRPC = '{' +
            '"title":"' + title + '",' +
            '"tag":"' + tag + '",' +
            '"desc":"' + desc + '"' +
            '}';
        document.getElementById('JSONRPC').value = JSONRPC;
    }
    function go() {
            location.href = '{{ url_for('.media',exhibit='media',media=-1) }}';
        }
    </script>
{% endblock %}
{% block title %}课程管理{% endblock %}




{#            <ul class="nav  nav-stacked navbar-left navbar-brand ">#}
{#                <li><a href="{{ url_for('main.courses',exhibit='course') }}" class="list-group-item ">课程列表</a></li>#}
{#                <li><a href="{{ url_for('main.courses',exhibit='column') }}" class="list-group-item ">课类列表</a></li>#}
{##}
{#            </ul>#}



{% block page_content %}
<div class="page-header"><h3><span class="glyphicon glyphicon-film"></span>媒体管理:</h3></div>
{% if exhibit=='addvideo' %}
{{ wtf.quick_form(form1) }}
{#    {{ url_for('.media',exhibit='media',media=-1) }}#}
{#<form action="http://v.polyv.net/uc/services/rest?method=uploadfile" method="post" enctype="multipart/form-data">#}
{#            <div>#}
{##}
{#                <input type="]-090" name="writetoken" value="cb114255-dddb-499d-b4b3-413e10265117" style="display:none" size="40">#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <div>#}
{#                    <label for="title">标题:</label>#}
{#                    <input type="text" id="title" onchange="update_show()" size="30"><span>（必选）</span>#}
{#                </div>#}
{#                <div>#}
{#                    <label for="tag">标签:</label>#}
{#                    <input type="text" id="tag" onchange="update_show()" size="30"><span>（必选）</span>#}
{#                </div>#}
{#                <div>#}
{#                    <label for="desc">描述:</label>#}
{#                    <input type="text" id="desc" onchange="update_show()" size="30"><span>（必选）</span>#}
{#                </div>#}
{#            </div>#}
{#            <div>#}
{##}
{#                <input type="text" name="JSONRPC" value="" id="JSONRPC" style="display:none" size="40">#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <label for="fileField">Filedata:</label>#}
{#                <input type="text" name="textfield" id="textfield" class="txt" size="40">#}
{#                <input type="file" name="Filedata" class="file" id="fileField" onchange="document.getElementById('textfield').value=this.value"><span>（必选）</span>#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <label for="fcharset">fcharset:</label>#}
{#                <select name="fcharset" id="fcharset">#}
{#                    <option value="">默认</option>#}
{#                    <option value="ISO-8859-1">避免乱码</option>#}
{#                </select>#}
{#                <span>（非必选）</span>#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <label for="cataid">cataid:</label>#}
{#                <input type="text" name="cataid" value="" id="cataid" size="10"><span>（非必选）</span>#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <label for="watermark">watermark:</label>#}
{#                <input type="text" name="watermark" value="" id="watermark" size="10"><span>（非必选）</span>#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <label for="luping">luping:</label>#}
{#                <select name="luping" id="luping">#}
{#                    <option value="0">非录屏</option>#}
{#                    <option value="1">录屏</option>#}
{#                </select>#}
{#                <span>（非必选）</span>#}
{#            </div>#}
{#            <br>#}
{#            <div>#}
{#                <label for="format">format:</label>#}
{#                <select name="format" id="format">#}
{#                    <option value="">返回json</option>#}
{#                    <option value="xml">返回xml</option>#}
{#                </select>#}
{#                <span>（非必选）</span>#}
{#            </div>#}
{#            <br>#}
{#            <br>#}
{#            <input type="submit" name="submit" class="btn" value="点我上传" size="40" onclick="go()">#}
{#        </form>#}


{% endif %}
{% if exhibit!='addvideo' %}
{{ request.form.data }}
    <a type="button" class="btn btn-primary" href="{{ url_for('.media',exhibit='addvideo',media=-1) }}">添加视频+</a>
<table class="table">

                  <thead>
                    <tr>
                      <th>缩略图</th>
                      <th>标题/时长</th>
                      <th>上传者</th>
                      <th>视频状态</th>
                      <th>时间/大小</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for vvideo in videos %}
                        <tr>
                            <th>none</th>
                            <th><h5>{{ vvideo['name'] }}</h5><h5><small>{{ vvideo['length']//3600 }}时{{ (vvideo['length']%3600)//60 }}分{{ (vvideo['length']%3600)%60 }}秒</small></h5></th>
                            <th>nobody</th>
                            <th>none</th>
                            <th>{{ vvideo['created_at'] }}<h5><small>{{ vvideo['filesize']/(1024*1024) }}MB</small></h5></th>
                        </tr>
                    {% endfor %}
                    </tbody>
</table>
{% endif %}
{% endblock %}