{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky-Post{% endblock %}
{% block page_content %}
{% import "_macros.html" as macros %}
{% include '_posts.html' %}
<h4 id="comments">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
    {{  wtf.quick_form(form)}}
    </div>
    {% endif %}
    {% include '_comments.html' %}
    {% if pagination %}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
    </div>
    {% endif %}
{% endblock %}